
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/CSS/MainStyle.css")" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="header_image">
            <img id="header_img" src="~/img/headerimage.jpg"/>
            <h1>The Janitors Pocket</h1>
            <h2>It's not illegal if we dont get caught ;)</h2>
        </div>   
        @RenderSection("header", required:false)
    </header>
    <nav>
        <ul>
            <li>
                @Html.ActionLink("Home", "Index", "Home", null, new { style = "text-decoration:inherit" })
            </li>
            <li>
                @Html.ActionLink("About", "Index", "About", null, new { style = "text-decoration:inherit;" })
            </li>
            <li>
                @Html.ActionLink("Contact", "Index", "Contact", null, new { style = "text-decoration:inherit;" })
            </li>
            <li>
                @Html.ActionLink("Blogs", "Index", "Blog", null, new { style = "text-decoration:inherit;" })
            </li>
        </ul>
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>
        @RenderSection("footer", required: false)
        <text>2016 Copyright Janitors Pocket Incorperated</text>
    </footer>
</body>
</html>
