@model BlogPostModel


<h2>Edit post</h2>

<section class="blog_title_edit">
    @Html.LabelFor(model => model.Title, null, new { style = "font-weight:bold; font-size:14px;" })
    @Html.ValidationMessageFor(model => model.Title, null, new { style = "Color: red;" })
    @Html.TextBoxFor(model => model.Title, new { style = "width:inherit" })
</section>

<section class="blog_content_edit">
    @Html.LabelFor(model => model.Content)
    @Html.ValidationMessageFor(model => model.Title, null, new { style = "Color: red;" })
    @Html.TextAreaFor(model => model.Content, new { style = "width:inherit" })
    
</section>

<section class="blog_author_edit">
    @Html.LabelFor(model => model.Author)
    @Html.ValidationMessageFor(model => model.Author, null, new { style = "Color: red;" })
    @Html.TextBoxFor(model => model.Author, new { style = "width:inherit" })
    
</section>