@model BlogPost


<h2>@Model.Title </h2>

<p>
    @Model.Content
</p>

<div class="blog_info">
    By @Model.Author at @Model.Timestamp.ToLocalTime()
    @Html.ActionLink("Edit", "Edit", Model)
</div>


