
@{
    ViewBag.Title = "Image";
}

<h2>Add a image</h2>
<br />

@using(Html.BeginForm("Add", "Image", FormMethod.Post))
<div>
    <div class="uxProductID">
        @Html.HiddenFor(mod => mod.ID)
    </div>
    <div class="uxProdcutCode">
        @Html.HiddenFor(mod => mod.ProductCode)
        @Html.ValidationMessageFor(mod => mod.ProductCode)
    </div>
    <div class="uxProdcutName">
        @Html.HiddenFor(mod => mod.ProductName)
        @Html.ValidationMessageFor(mod => mod.ProductName)
    </div>
    <div class="uxProductDescription">
        @Html.HiddenFor(mod => mod.ProductDescription)
        @Html.ValidationMessageFor(mod => mod.ProductDescription)
    </div>

    <div class="uxPrice">
        @Html.HiddenFor(mod => mod.Price)
        @Html.ValidationMessageFor(mod => mod.Price)
    </div>

    <div class="uxQuantity">
        @Html.HiddenFor(mod => mod.Quantity)
        @Html.ValidationMessageFor(mod => mod.Quantity)
    </div>

    <div class="uxCategory">
        @Html.HiddenFor(mod => mod.CategoryID)
        @Html.ValidationMessageFor(mod => mod.CategoryID)
    </div>
    <div class="uxProductImage">
        @Html.LabelForModel()
        <br/>
        <input type="file" name="image"/>
        <button type="submit">Save Image</button>
    </div>
</div>

